.avatar-img {
    height: 64px;
    width: 64px;
    margin: 4px;
}

.prof-info {
    display: inline-block;
    position: absolute;
    margin: 4px;
}

.grid-example {
    max-width: 640px;
    margin: 0 auto;
}