.post-preview-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0 !important;
}

.excerpt {
    height: 120px;
}

.preview-button {
    float: right;
    margin: 8px 12px 12px 8px
}